<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <% if (locals.currentUser) {%>
        <h3>Current User: <%=currentUser.firstname %> <%= currentUser.lastname %></h3>
    <% } %>
    <h2>Posts:</h2>
    <% if (locals.posts) {%>
        <%posts.forEach(post => {%>
            <div>
                <%= post.postid %>
                <%= post.firstname %>
                <%= post.lastname %>
            </div>
        <%})%>
    <% }%>
    
</body>
</html>
