<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <%- include("../partials/navbar.ejs") %>
    <% if (locals.currentUser) {%>
        <h3>Current User: <%=currentUser.firstname %> <%= currentUser.lastname %></h3>
        <% if(!currentUser.membership) { %>
            <div>Enter the password to join the club!</div>
            <form action="/<%= currentUser.userid %>/join" method="POST">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" required/>
                <button type="submit">Join</button>
            </form>
        <% } %>
    <% } %>
    <h3>Posts:</h3>
    <% if (locals.posts) {%>
        <%posts.forEach(post => {%>
            <%- include("../partials/postView.ejs", {postData: post}) %>
        <%})%>
    <% }%>
    
</body>
</html>
